body {
  font-family: 'Open Sans',
    sans-serif;
}

section h1 {
  background: cornflowerblue;
}

h1 {
  background: red;
}

li {
  list-style: none;
}

.summary-title {
  background: green;
}

header {
  text-align: center;
}

header h1:hover {
  color: blue;
  font-size: 5rem;
}